<%- include('../partials/header') %>
<form id="new-form" action="/players/create" method="POST">
    <label>Number:</label>
    <input type="number" name="number">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Nickname:</label>
    <input type="text" name="nickname">
    <label>Position</label>
    <select name="position" multiple>
      <option value="P">P</option>
      <option value="C">C</option>
      <option value="1B">1B</option>
      <option value="2B">2B</option>
      <option value="3B">3B</option>
      <option value="SS">SS</option>
      <option value="LF">LF</option>
      <option value="LCF">LCF</option>
      <option value="RCF">RCF</option>
      <option value="RF">RF</option>
    </select>
    <label>Bats:</label>
    <select name="bats">
      <option value="R">R</option>
      <option value="L">L</option>
      <option value="S">S</option>
    </select>
    <label>Throws:</label>
    <select name="throws">
      <option value="R">R</option>
      <option value="L">L</option>
    </select>
    <label>Home State:</label>
    <input type="text" name="homeState">
    <label>Birthdate:</label>
    <input type="date" name="dob">
    <input type="submit" value="Add Player">
  </form>
  <%- include('../partials/footer') %>