<form id="new-form" action="/players" method="POST">
    <label>Number:</label>
    <input type="number" name="number">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Nickname:</label>
    <input type="text" name="nickname">
    <label>Position</label>
    <select name="position">
      <option value="IF">IF</option>
      <option value="OF">OF</option>
      <option value="IF/OF">IF/OF</option>
    </select>
    <label>Home State:</label>
    <input type="text" name="homeState">
    <input type="submit" value="Add Player">
  </form>